html {
    /* ensure content is visible on iPhone X */
    padding: env(safe-area-inset);
}

body {
    font-family: 'Lato', sans-serif;
    color: #505962;
}

h1, .btn {
    font-family: 'Fredoka One', cursive;
}

/* Home -> Navigation */
.navbar-brand img {
    height: 2rem;
}

.navbar {
    padding: .6rem 1rem;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: black;
}

/* navbar-nav = ul */
.navbar-nav li {
    padding-right: .8rem;
}

.navbar-nav .nav-link {
    padding-top: .8rem;
    color: white;
}

/* class1.class2 selects all elements with both classes */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: #00b3ff;
}

.svg-inline--fa.fa-bars {
    color: white;
    font-size: 1.6rem;
}

button:active, button:focus {
    outline: 0;
}

/* Home -> Image */
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: black;
    z-index: -1;
}

/* Makes sure background content is centered in viewport */
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home-inner {
    background-image: url('img/background.jpg');
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Cover screen = always take up 100% of width and height */
    background-size: cover;
    background-position: center center;
    /* Keep zoom level of 0 to avoid 3D renedering on iPhone */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    will-change: transform;
}

/* Home -> Content */
.home-text {
    z-index: 1;
    top: 40%;
}

.btn {
    border-width: medium;
    padding: .5rem 1.2rem;
}


/* Needs */
.offset:before {
    content: "";
    height: 62px; /* size of navbar */
    margin-top: -62px;
    display: block;
}

.heading-underline {
    width: 3rem;
    height: .25rem;
    background-color: #00b3ff;
}

.needs .svg-inline--fa {
    color: #00b3ff;
}


/* Media queries */

/* smaller than md breakpoint (< 768px) */
@media (max-width: 767px) {
    .home-text {
        top: 35%;
    }

    .home-text h1 {
        font-size: 1.8rem;
    }
}